<!DOCTYPE html>
<html>
  <head>
    <title>CarWash</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body back-ground:>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if flash[:error] %>
    <p class='error'><%= flash[:error] %></p>
  <% elsif flash[:success] %>

  <% end %>

    <%= yield %>

    <footer class="btmnav">
  <div class="content has-text-centered">
    <p>
      <strong>Splash Auto Wash</strong> by <a href="https://paveldemeter.github.io/portfolio/index.html">Pavel Demeter</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Pavel Demeter ©</a>.
    </p>
  </div>
</footer> 
